<h1> <%= @flat.name %> </h1>

  <ul>
    <li><%= @flat.address %></li>
    <li><%= @flat.description %></li>
    <li><%= @flat.price_per_night %>€</li>
    <li><%= @flat.number_of_guests %></li>
  </ul>

<h2><%= link_to "Flats list", flats_path %></h2>
